<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <form action="/inserir" method="post">
        <div>
            <div>
                <span>icone</span>
                <P>bem vindo de volta <br> por favor entre em sua conta</P>
            </div>
            <div>
                <label for="User"><p>Nome</p></label>
                <input type="User" name="User" id="">
    
                <label for="Email"><p>Email</p></label>
                <input type="email" name="Email" id="">
    
                <label for="Pass"><p>Senha</p></label>
                <input type="password" name="Pass" id="">
    
                <button type="submit">Criar conta</button>
            </div>
        </div>
        <div>
            <a href="">ja tenho conta</a>
            <button type="submit">Entrar</button>
        </div>
    </form>
</body>
</html>