<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/logar" method="post">
        <div>
            <div>
                <span>icone</span>
                <P>bem vindo de volta <br> por favor entre em sua conta</P>
            </div>
            <div>
                <label for="User"><p>Nome</p></label>
                <input type="User" name="User" id="">

                <label for="Pass"><p>Senha</p></label>
                <input type="password" name="Pass" id="">

                <a href="">esqueceu a senha?</a>

                <button type="submit">login</button>
            </div>
        </div>
        <div>
            <a href="">não tem conta</a>
            <button type="submit">Criar conta</button>
        </div>
    </form>
</body>
</html>