  
<body>
    <header>
        <div class="logo">
            <img src="" alt="logo"> <h1>Whatzip</h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-address-book"></i></a>
                </li>
                <li>
                    <a href="/app/minha_conta"><i class="fa-solid fa-gear"></i></a>
                </li>
            </ul>
        </nav>
        <div>
            <form action="/sair" method="post">
                <button type="submit"><i class="fa-solid fa-power-off"></i></button>
            </form>
        </div>
    </header>
        
    <!--SESSÃO ONDE CONTEM AS INFORMAÇÕES QUE IRÃO MUDAR-->
    <section>
        <h1>Whatzipps</h1>

        <div class="search_bar">

            <input type="text" id="txtBusca" placeholder="Buscar..."/>
            <button><i>icone de busca</i></button>
            
        </div>

        <div class="contatos">
            {{!-- <div class="contato">
                <div class="msg_img">
                    <img src="/src/img/transferir.jpg" id="img">
                </div>
                <div class="msg_text">
                    <h3>nome</h3>
                    <p>conversa</p>
                </div>
                <div class="msg_hora">
                    <p>10:00</p>
                </div>
            </div> --}}
            {{#each users}}
                <div class="contato">
                    <div class="msg_img">
                        <img src="{{users_img}}" id="img">
                    </div>
                    <div class="msg_text">
                        <h3>{{users_name}}</h3>
                        <p>conversa</p>
                    </div>
                    <div class="msg_hora">
                        <p>10:00</p>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
                        
    <main>
        <div class="contato_ativo">
            <div class="contato_img">
                <img src="/src/img/transferir.jpg" id="img">
            </div>
            <div class="contato_text">
                <h3>nome</h3>
                <p>escrevendo</p>
            </div>
            <div>
                <a href="#"><p>informaçõs do contato</p></a>
            </div>
        </div>
            

        <div class="mensagens">
            <!--<div class="my_msg msg"><p>oi</p></div>
            <div class="your_msg msg"><p>oi</p></div>-->
        </div>

        <div class="contato_input">
            <input type="text" id="txtMsg" placeholder="Ola..."/>
            <button id="btn_env_msg" onclick="env_mensage()"><i>mandar</i></button>
        </div>
                
    </main> 
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    var input_msg = document.querySelector('#txtMsg');
    //var btn_env_msg = document.querySelector('#btn_env_msg');
    var div_msg = document.querySelector('.mensagens');
    var div = document.createElement('div');

    // CASO O EMAIL DA MENSAGEM SEJÁ DIFERENTE DO MEU : RECEBERA A CLASSE YOUR_MSG
    //div.classList('your_msg');

    const socket = io()

    socket.on('msgServer', (mensagem) =>{
        msg = JSON.parse(mensagem);

        div.classList.add('msg');
        div.innerHTML = `<p>${msg.mensagem}</p>`

        div_msg.appendChild(div);

        console.log(msg.mensagem);
    })

    function env_mensage(){
        if(input_msg.value != 0){
            socket.emit('msg', input_msg.value);
            input_msg.value = null;
        }
    }
</script>