<head>
    <link rel="stylesheet" href="/css/login/login.css">
</head>
<body>
    <div class="container_text">
        <div>
            <h1>Bem vindo</h1>
            <h2>usuario</h2>
            <p>balbalablalsnvkjnlshbv lhavbdakavblk</p>
        </div>
    </div>
    <div class="container_form">
        <form action="/cadastrar" method="post">
            <div class="alert_form">
                {{#each erros}}
                    <div class="alert alert-danger">{{texto}}</div>
                    {{else}}
                {{/each}}
            </div>
            <div>
                <div>
                    <img src="/imgs/conversation.png" alt="icone de conversas">
                    <P class="text_form">bem vindo de volta <br> por favor entre em sua conta</P>
                </div>
                <div class="inputs">
                    <label for="User"><p>Nome</p></label>
                    <input type="User" name="User" id="">
        
                    <label for="Email"><p>Email</p></label>
                    <input type="email" name="Email" id="">
        
                    <label for="Pass"><p>Senha</p></label>
                    <input type="password" name="Pass" id="">

                    <label for="Cpass"><p>Confirmar Senha</p></label>
                    <input type="password" name="Cpass" id="">
        
                    <button type="submit">Criar conta</button>
                </div>
            </div>
            <nav>
                <a href="/login">ja tenho conta</a>
                <button type="submit"><a href="/login">Entrar</a></button>
            </nav>
        </form>
        <button class="btn_theme">
            <i class="fa-regular fa-moon"></i>
         </button>
    </div>
</body>
</html>