<head>
    <link rel="stylesheet" href="/css/login/login.css">
</head>
<body>
    <div class="container_text">
        <h1>Bem vindo</h1>
        <h2>usuario</h2>
        <p>balbalablalsnvkjnlshbv lhavbdakavblk</p>
    </div>
    <div class="container_form">
         <button class="btn_theme">
             Mode
         </button>
        <form action="/logar" method="post">
            <div class="alert_form">
                {{#each erros}}
                    <div class="alert alert-danger">{{texto}}</div>
                    {{else}}
                {{/each}}
            </div>
            <div>
                <div>
                    <img src="/imgs/conversation.png" alt="icone de conversas">
                    <P class="text_form">bem vindo de volta <br> por favor entre em sua conta</P>
                </div>
                <div class="inputs">
                    <label for="User"><p>Nome</p></label>
                    <input type="User" name="User" id="">

                    <label for="Pass"><p>Senha</p></label>
                    <input type="password" name="Pass" id=""> <br>

                    <a href="">esqueceu a senha?</a>

                    <button type="submit">login</button>
                </div>
            </div>
            <nav>
                <a href="/cadastro">não tem conta</a>
                <button><a href="/cadastro">Criar conta</a></button>
            </nav>
        </form>
    </div>
</body>
    <script src="/js/ThemeMode.js"></script>
</html>