<head>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="" alt="logo"> <h1>Whatzip</h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/app/"><i class="fa-solid fa-user"></i></a>
                </li>
                <li>
                    <a href="/app/usuarios"><i class="fa-solid fa-address-book"></i></a>
                </li>
                <li>
                    <a href="/app/minha_conta"><i class="fa-solid fa-gear"></i></a>
                </li>
            </ul>
        </nav>
        <div>
            <form action="/sair" method="post">
                <button type="submit"><i class="fa-solid fa-power-off"></i></button>
            </form>
        </div>
    </header>
    <!--SESSÃO ONDE CONTEM AS INFORMAÇÕES QUE IRÃO MUDAR-->
    <section>
        <h1>Whatzipps</h1>

        <form action="/app/usuarios" method="get" class="search_bar">
            <input type="text" name="search" id="txtBusca" placeholder="Buscar...">
            <button type="submit"><i>icone de busca</i></button>
        </form>
        

        <div class="contatos">
            {{#each users}}
                <div class="contato">
                    <div class="msg_img">
                        <img src="{{users_img}}" id="img">
                    </div>
                    <div class="msg_text">
                        <h3>{{users_name}}</h3>
                    </div>
                </div>
            {{/each}}
        </div>
    </section>
    <section>
        <img src="" alt="">
    </section>
</body>