@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
html{
    font-family: 'Open Sans', sans-serif;
}
html:root{
    --white1: #FFFFFF;
}
// -- Claro --

$white1: #FFFFFF;
$white2: #F5F8FD;
$white3: #FFFFFF;

$active: #1174EB;
$cancel: #F96F61;

$title: #FFFFFF;
$text1: #111111;
$text2: #8797AF;

$msg1: #E1F1FF;
$msg2: #F5F8FD;

// -- Noturno --

.night_mode{
    $black1: #262E35;
    $black2: #303841;
    $black3: #37404A;

    $active: #72C977;
    $cancel: #F96F61;

    $title: #FFFFFF;
    $text1: #EFEFF7;
    $text2: #8D96A0;

    $msg1: #37404A;
    $msg2: #4C5562;
}