@media only screen and (max-width: 801px) { /* tablet, landscape iPad, lo-res laptops ands desktops*/
    



header{
    display: none;
    width: 100%;
}
main{
    display: block;
}

nav ul{
    display: grid;
    row-gap: 50px;
}

nav ul li a{
    width: 10px;
    height: 10px;
    padding: 4%;

}
section{
    display: none;
    width: 100%;
}



.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
    box-shadow: 0 5px 5px rgb(0,0,0,0.15);
}

.header{
    position: relative;
    background: #008069;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header .logo{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
}
.header .action{
    position: relative;
    display: flex;
    gap: 15px;  
}

.header .action a{
    color: #fff;
    display: flex;
    font-size: 1.5em;
    text-decoration: none;
}

.container .data{
    position: relative;
    width: 100%;
    height: 510px;
}
.chatlist{
    width: 100%;
    height: 94vh;
    overflow: auto;
}
.chatlist .block{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 15px 10px;
    display: flex;
    cursor: pointer;
   
}


.chatlist .block:hover{
    background: #f5f5f5;
}

.chatlist .block .imgbx{
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.chatlist .block .imgbx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chatlist .block .details{
    position: relative;
    width: 100%;
}
.chatlist .block .details .listHead{
    display: flex;
    justify-content: space-between;
}
.chatlist .block .details .listHead h4{
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    color: #111;
}
.chatlist .block .details .listHead p{
    font-size: 0.75em;
    color: #555;
    
}
.chatlist .block .details .listHead .message_p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatlist .block .details p{
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}


.chatBox{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #efe6dd;
    z-index: 10000;
}

.chatBox.hide
{
    display: none;
}

.chatBox::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: url(./img/pattern.png);
    opacity: 0.05;
} 

.chat_Header{
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #008069;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.chat_Header .img_content{
    display: flex;
    align-items: center;
    gap: 5px;

}

.chat_Header .img_content ion-icon{
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;

}

ion-icon{
    cursor: pointer;

}

.chat_Header .img_content .imgBox{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.chat_Header .img_content .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chat_Header .img_content h3{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.1em;
    
}
.actionsBtns{
    position: relative;
    display: flex;
    color: #fff;
    gap: 15px;

}

.messageBox{
    position: relative;
    padding: 20px;
    height: px;
    overflow: auto;

}




.messageInput{
    position: absolute;
    margin-top: 10px;
    left: 0;
    width: 100%;
    padding: 5PX 10PX;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.messageInput input{
    position: relative;
    background-color: #fff;
    padding: 5px;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    border: none;
    outline: none;
    
}
.messageInput button{
    width: 30px;
    height: 30px;
    background-color: rgb(75, 198, 247);
    border: none;
    
}

.messageInput button img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.messageBox .message{
    position: relative;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    border-top-left-radius: 0;
    overflow-wrap: break-word;

}

.messageBox .message::before{
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
}

.contato_input{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

#enviar{
    width: 70px;
    height: 70px;
   
    
}
#txtMsg{
    width: 80%;
    height: 50px;
    border-color: 1px #ccc;
    outline: 0;
    
}
.contato_input button{
    width: 50px;
    height: 50px;
    background-color: rgb(75, 198, 247);
    border: none;
    
}

.contato_input button img{
    width: 50px;
    height: 50px;
}

.contato_input{
    position: fixed;
    bottom: 0;
}

}