
        /* hi-res laptops and desktops */ 
    body{
        background-color:  #F5F8FD;
        width: auto;
        height: auto;
        display: flex;

    }
        
    header{
        background-color:  #FFFFFF;
        width: 4%;
        height: 100vh;
    }

    nav{
        margin-top: 180px;
        text-align: center;
        
    }

    nav ul li{
        margin-top: 30px;
        text-align: center;
    }
    nav ul li a{
        color: #515151;
        padding: 15%;
    }

    form{
        margin-top: 500px;
        text-align: center;
        color: #515151; 
    }

    form button{
        border: 1px transparent;
        background-color: transparent;
    }


    .logo{
        padding: 15px;  
    }

    .logo img{
        width: 40px;
        height: 40px;
        padding: 5px;
    }




    /*section*/

    section{
        width: 20%;
        height: 100vh;
        background-color: #F5F8FD;
        border-right: 1px solid #ccc;
        overflow: auto;
    }

    section h1{
        color: rgb(0, 156, 217);
        padding: 20px;
    }
    .search_bar{
            height: 10%;
            text-align: center;
            padding: 10px;
            
    }

    .search{
        float: left;
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 5px;
        
        
    }

    .contatos{
        width: auto;
        height: auto;
        margin-top: 50px;
        background-color: rgb(80, 80, 80);
        
    }
    /*barra de busca de contato*/

    .search input[type="text"]{
        float: left;
        width: 85%;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: white;
        outline: 0;

    }

    .search button{
        float: left;
        width: 15%;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: white;


    }
    .search button img{
        width: 25px;
        height: 25px;
    
    }


    /*cria uma linha para cada contado separando as mensagens*/
    .contato{  
        background-color: #F5F8FD;
        display: flex;
    }


    #contato_img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-top: 10px;
        margin-left: 10px;
        
    }

    .msg_text{
        margin-top: 5%;
        margin-left: 20px;
        

    }

    .msg_text p{
        color: #a8a8a8;

    }

    .msg_hora{
        width: 40%;
        height: 100%;
        
        
        
    }

    .msg_hora p{
        text-align: right;
        margin-top: 40px;
        color: #a8a8a8;
    }



    main{
        width: 75%;
        height: 100vh;
        background-color: #FFFFFF;
        

    }
    .contato_ativo{
        border-bottom: 1px solid #ccc;
        display: flex;
    
    }


    .contato_text{
    margin-top: 8px;
    }

    .contato_text p{
        color: #a8a8a8;
    }

    .contato_input{
<<<<<<< HEAD
        width: 65%;
=======
        width: 100%;
>>>>>>> 45a411f9410b7e42ec42569b7f5f7ddf888463e2
        text-align: center;
        border-radius: 5px;
    }




    #msg_img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-top: 10px;
        margin-left: 10px;
        padding: 5px;
    }


    .mensagens{
        width: 100%;
        height: 75%;
        overflow: auto;
        padding: 5px;
    }
        

    .my_msg{
<<<<<<< HEAD
        width: 42%; 
=======
        width: 50%; 
>>>>>>> 45a411f9410b7e42ec42569b7f5f7ddf888463e2
        position: relative;
        padding: 5px;  
        color: black;
        border-radius: 5px;
    }


    
    

    .my_msg p{

        width: 100%;
        border: 1px solid rgb(243, 243, 243);
        background-color: rgb(243, 243, 243);
        text-align: right;
        margin-left: 650px;
        border-radius: 5px;
        overflow-wrap: break-word;
        padding: 5px 3px 5px 3px;
        
        
    }




    .your_msg{
        padding: 5px;
        color: black;
        position: relative;
        border-radius: 5px;
        
        
    }

    .your_msg p{
        width: 50px;
        border: 1px solid rgb(213, 247, 255);
        background-color: rgb(213, 247, 255);
        border-radius: 5px;
        overflow-wrap: break-word;
        padding: 5px 3px 5px 3px;
        

    }
    #enviar{
        width: 70px;
        height: 70px;
<<<<<<< HEAD
=======
        margin-top: px;
>>>>>>> 45a411f9410b7e42ec42569b7f5f7ddf888463e2
        
    }
    #txtMsg{
        width: 80%;
        height: 25px;
<<<<<<< HEAD
=======
        margin-top: 40px;
>>>>>>> 45a411f9410b7e42ec42569b7f5f7ddf888463e2
        border-color: 1px #ccc;
        outline: 0;
        
    }
    .contato_input button{
        width: 30px;
        height: 30px;
        background-color: rgb(75, 198, 247);
        border: none;
        
    }

    .contato_input button img{
        width: 20px;
        height: 20px;
    }


<<<<<<< HEAD






    
=======
>>>>>>> 45a411f9410b7e42ec42569b7f5f7ddf888463e2
 /*MINHA CONTA*/
    #minha_conta{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% 35% 40% ;
    }
    #minha_conta form{
        margin: 0%;
    }
    #minha_conta form#load_text{
        position: relative;
        text-align: left;
        padding-left: 10%;
    }
    #minha_conta #load_image input{
        margin-top: 5%;
        min-width: 150px;
        width: 35%;
        max-width: 200px;
    }
    #minha_conta #load_text input{
        background-color: #F5F8FD;
        margin-bottom: 18px;
        margin-top: 5px;
        border: none;
        border-bottom: 1px #000 solid;
        width: 60%;
        height: 25px;

        align-self: left;
        font-size: larger;
    }
    #minha_conta form button{
        background-color:  #1174EB;

        padding: 2%;
        border: solid #127dff 2px;
    }
    #minha_conta #img_perfil{
        width: 30%;
        margin: auto;
    }



